<template name="blog">

	<body class="blog-post" id="header">

		{{>nav_contact}}
		<div class="container" style="margin-top: 200px">

			<div class="main main-raised" id="main">
				<div class="container">
					<div class="section section-text">
						<div class="row">
							<div class="col-md-8 col-md-offset-2">
								<h3 class="title">Our mission...</h3>
								<p>Here at Boomtown Media we are entrepenuers helping entrepenuers. We are passionate about driven, creative people that are not content to leave their world the same as they found it. </p>
								<br /> <br />
							</div>

							<div class="section col-md-10 col-md-offset-1">
								<div class="col-md-4 col-md-offset-2 auto">
									<img class="img-rounded img-responsive img-raised" alt="Raised Image" src="/img/code2.jpg">
								</div>
								<div class="col-md-4 mx-auto">
									<img class="img-rounded img-responsive img-raised" alt="Raised Image" src="/img/marketing.jpg">
								</div>
							</div>

							<div class="col-md-8 col-md-offset-2">
								<h3 class="title">Rest of the Story:</h3>
								<p>You might be an artist who is gaining traction in your career, and now it's time for an online portfolio. Possibly, a much needed non-profit and you need a modern platform to show the world what you've accomplished so far and what challenges remain. You'll need to grow support and fundraising, and we're here to help you create and implement an effective social media marketing strategy that will increase the publicity and support your organization recieves.
								</p>
								<p>Perhaps, like us, business is your passion. You saw a need in the economy around you and you work long and hard, always cheerful, to supply that niche for your loyal customers. Chances are you already have a webpage from a few years ago, or don't see the need for one as you're already doing quite well.
								</p>
								<p>Well our motto is "Turning your business into a Boomtown!" If you're interested in expanding your organization, increasing revenue and sales, maintaining and growing your market share. We are here to help you do just that!
								</p>
								<p>You might be interested in an e-commerce site where you can sell your goods or services instantly to a global market. Or maybe you're a young construction company that has no need to sell online, but still hungry for growth.
								</p>
								<p>Our proven formula for growth has 3 ingredients: a) solid print branding which entails a smart company logo, business cards, letterheads, and brochures; b) a stunning modern website that instantly provides you with a global presence; and c) a dynamic social media marketing campaign that engages customers and drives web traffic back to your site.
								</p>
								<p>Here at Boomtown Media we heavily leverage internet traffic analytics to see what's working, what's popular, and where there is improvement and fine-tuning needed. Our campaigns are successful because not only do we discover which demographics produce new loyal customers, but the optimal methods to increase your presence and sales in these targeted consumer groups.
								</p>
								<p>In the 21st century, a website and branded email are just as crucial to an enterprise as a phone line and mailing address.
								</p>
								<p>We'd love to get to know you and your vision better. Give us a call anytime! Heck, we know you're busy and probably have more than a few irons in the fire right now. We're here to aid success, not get in the way of it. Please take a few seconds to leave us your name, phone number, email address, and best times to reach you, and one of our knowledgeable staff will reach out to you at a time that is easy and convenient for your schedule.
								</p>

							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<!--   Core JS Files   -->
		<script src="../assets/js/jquery.min.js" type="text/javascript"></script>
		<script src="../assets/js/bootstrap.min.js" type="text/javascript"></script>
		<script src="../assets/js/material.min.js"></script>

		<!--    Plugin for Date Time Picker and Full Calendar Plugin   -->
		<script src="../assets/js/moment.min.js"></script>

		<!--	Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/   -->
		<script src="../assets/js/nouislider.min.js" type="text/javascript"></script>

		<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker   -->
		<script src="../assets/js/bootstrap-datetimepicker.js" type="text/javascript"></script>

		<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select   -->
		<script src="../assets/js/bootstrap-selectpicker.js" type="text/javascript"></script>

		<!--	Plugin for Tags, full documentation here: http://xoxco.com/projects/code/tagsinput/   -->
		<script src="../assets/js/bootstrap-tagsinput.js"></script>

		<!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput   -->
		<script src="../assets/js/jasny-bootstrap.min.js"></script>

		<!--    Plugin For Google Maps   -->
		<script  type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>

		<!--    Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc    -->
		<script src="../assets/js/material-kit.js?v=1.2.0" type="text/javascript"></script>
	</body>
</template>
