<template name="nav_contact">
<nav class="navbar navbar-fixed-top contact" style="backround-color: rgba(0, 0, 0, 0.4)">
    	<div class="container">
        	<!-- Brand and toggle get grouped for better mobile display -->
        	<div class="navbar-header">
        		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
            		<span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
        		</button>
            <div class="header">
        		<a class="navbar-brand js-scroll-trigger navbar-text" href="/" style="font-family:Ultra">
            <span style="margin: 10px"><img src="/img/logo1.png" class="img-raised img-circle logo" height="100px"/></span>
                    Boomtown Media
            </a>
        </div>
        	</div>

        	<div class="collapse navbar-collapse" id="navigation-example">
	                <ul class="nav navbar-nav navbar-right">
	                    <li>
	                        <a href="/#one">
														About Us
	                        </a>
	                    </li>
						<li>
	                        <a href="/#two">
	                           Services
	                        </a>
	                    </li>
	                    <li>
	                        <a href="/#three">
														Team
	                        </a>
	                    </li>
    									<li>
	                        <a href="/#four">
														Contact
	                        </a>
	                    </li>
	                </ul>
        	</div>
    	</div>
    </nav>
  </template>
